<!-- NAVBAR -->


<div class="center big-box">
  <% if logged_in? %>
  <a class="create-smack-link" href="/categories/<%= @category.id %>/smacks/new">Create a Smack!</a>


  <% end %>
  <h1 class="cat-name"><%= @category.topic %></h1>
<% @category.smacks.each do |smack| %>
  <div class="smack">
    <a class="smack-link"href="/category/<%= smack.category.id %>/smacks/<%= smack.id %>"><%= smack.title %></a>
    <p><%= smack.description %></p>
    <h3><%= total_votes(smack) %> Points</h3>
    <h3><%= smack.comebacks.count %> Comebacks</h3>
    <h6><%= smack.user.username %> | <%= smack.created_at.strftime('%m/%d/%Y') %></h6>
    <h6></h6>
  </div>
<% end %>
</div>
