<div class="center big-box">
  <a href="/categories/<%= @smack.category.id %>">Back to <%= @smack.category.topic.capitalize %></a>


<div id="smack_talk">
<div class="smack">
<h2><%= @smack.title %></h2>
<form class="vote-button" method="post" action='/smacks/<%= "#{@smack.id}" %>/up_vote'>
<input type="submit" value="Upvote"></form>
<form class="vote-button" method="post" action='/smacks/<%= "#{@smack.id}" %>/down_vote'>
<input type="submit" value="Downvote"></form>
<p><%= @smack.description %></p>
<h4 class="points"><%= total_votes(@smack) %> Points</h4>
<h6><%= @smack.user.username %> | <%= @smack.created_at.strftime('%m/%d/%Y') %></h6>
</div>
<!-- <input name="_method" type="hidden" value="post"> -->
<br>
  <div id="smack_comments">

  <% @smack.comments.each do |comment| %>
      <div class="individual-comment">
        <p><%= comment.description %></p>
        <h4 class="points"><%= total_votes(comment) %></h4>
        <h6><%= comment.user.username %> | <%= comment.created_at %></h6>
        <h6></h6>
      </div>
  </div>
  <% end %>
  <button id="new_smack_comment_button" class="button center">New Smack Comment</button>
    <form id="smack_comment_form" method="post" action="/categories/<%= @smack.category.id %>/smacks/<%= @smack.id %>/comments/new"class="center hidden">
    <label for="smack_comment">Comment:</label>
    <textarea id="smack_comment" name="smack_comment"></textarea>
    <input type="submit" class="button" value="Submit Comment"></input>
  </form>
  <div id="comebacks">
    <% @smack.comebacks.each do |comeback| %>
    <div class="comeback-class">
    <form class="vote-button" method="post" action='/comebacks/<%= "#{comeback.id}" %>/up_vote'>
    <input type="submit" value="Upvote"></form>
    <form class="vote-button" method="post" action='/comebacks/<%= "#{comeback.id}" %>/down_vote'>
<input type="submit" value="Downvote"></form>
    <div class="individual-comeback">
      <h4><%= comeback.description %></h4>
      <h4 class="points"><%= total_votes(comeback) %> Points</h4>
      <h6><%= comeback.user.username %> | <%= comeback.created_at.strftime('%m/%d/%Y') %></h6>
      <h6></h6>
    </div>
  </div>
  <div id="comebacks_comments">
    <% comeback.comments.each do |comment| %>
      <div class="individual-comment">
        <p><%= comment.description %></p>
        <h4 class="points"><%= total_votes(comment) %></h4>
        <h6><%= comment.user.username %> | <%= comment.created_at.strftime('%m/%d/%Y') %></h6>
        <h6></h6>
      </div>
  </div>
  <% end %>
    <button id="new_comeback_comment_button" class="button center">New Comeback Comment</button>
    <form id="comeback_comment_form" method="post" action="/categories/<%= @smack.category.id %>/smacks/<%= @smack.id %>/comebacks/<%= comeback.id %>/comments/new"class="center hidden">
    <label for="smack_comment">Comment:</label>
    <textarea id="comeback_comment" name="comeback_comment"></textarea>
    <input type="submit" class="button" value="Submit Comment"></input>
  </form>
<% end %>
</div>
</div>
<button id="new_comeback_button" class="button center">New Comeback</button>
<form id="new_comeback_form" method="post" action="/categories/<%= @smack.category.id %>/smacks/<%= @smack.id %>/comebacks/new"class="center hidden">
  <label for="comeback">Comeback:</label>
  <textarea id="comeback" name="comeback"></textarea>
  <input type="submit" class="button" value="Submit Comeback"></input>
</form>
</div>
